matplotlib
matplotlib==3.4.3
plotly
telebot
telebot==13.7
tabulate
time
schedule
requests
datetime
pytz
pytz==2021.3
prettytable
re
html
markdown
qrcode
Pillow
Pillow==8.3.1
PIL
io
tempfile
BytesIO
os
threading
cryptocompare
pandas
json
asyncio